* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */
:root {
    --primary-color: #0084FD;
    --primary-color-light: #B5DDFF;
    --secondary-color: #9792E3;
    --dark-color: #333333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    min-width: 100%;
    width: 80%;
    margin: 0 auto;
}

.container-md {
    padding-left: 30px;
    padding-right: 30px;
}

.d-flex {
    display: flex;
}

.app-section h2 {
    color: var(--primary-color);
    display: inline-block;
}

.bg-white {
    background-color: white;
}

.btn {
    padding: .5rem 2.3rem;
    border-radius: 40px;
}

.btn-blue {
    background-color: var(--primary-color);
}

.btn-purple {
    background-color: var(--secondary-color);
}

.txt-white {
    color: white;
}



/* header */
header {
    background-color: var(--primary-color);
}

.nav-bar {
    justify-content: space-between;
    padding: 1rem 1.8rem;
    align-items: center;
    position: relative;

}

.fa-bars {
    color: white;
    font-size: 1.8rem;
}

.menu {
    position: absolute;
    right: 3%;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

li {
    list-style: none;
    padding: 0 .8rem;
}

.list {
    display: none;
}

/* main-sections */

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border: 1px dashed blue;
    min-height: 500px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.img-card {
    justify-content: center;
    align-items: flex-end;
}

.col {
    /* flex-grow: 1;
    flex-basis: 0; */
    border: 1px dashed red;
    border-radius: 20px;
    min-height: 300px;

}

.col img {
    width: 50%;
}

.app-section .img-phone {
    width: 100%;
}

.demo-title {
    padding: 10px 20px;
}

.demo-title p {
    margin-top: 10px;
    color: grey;
    text-align: left;
    margin-bottom: 50px;
}

.app-section a {
    text-align: left;
}

.fa-apple {
    margin-right: 5px;
}


.col-blue {
    background-color: var(--primary-color-light);
}

.col-white {
    background-color: white;
}

.col-purple {
    background-color: var(--secondary-color);
}


.col-1-3 {
    flex-basis: calc(100% / 3);
}

.col-2-3 {
    flex-basis: calc((100% / 3) * 2);
}

.col-1-3 {
    flex-basis: 50%;
}



.col-phone {
    flex-direction: column;
    justify-content: space-between;
}

/* strategic-section */

.strategic-section {
    background-color: var(--secondary-color);
}

/* testimonial-section */
.testimonial-section h2 {
    color: var(--secondary-color);
}

/* benefits-section */
.benefits-section {
    background-color: var(--secondary-color);
}

/* about us */
.about-txt {
    width: 100%;
}

/* footer */
.footer-info {
    background-color: var(--dark-color);
    min-height: 200px;
}

/* tablet */



@media screen and (min-width:768px) {
    .container {
        min-width: 100%;
        width: 80%;
    }

    .app-section .row {
        flex-direction: row;
        flex-wrap: wrap;

    }

    /* .col {
        flex-basis: 0;
        flex-grow: 1;
    } */

    .app-section .col-2-3 {
        flex-basis: 65%;
    }

    .app-section .col-1-3 {
        flex-basis: 30%;
    }

    .strategic-section .img {
        max-width: 50%;

    }

    .benefits-section .row {
        justify-content: space-evenly;
    }

    /* benefits section */

    .benefits-section .row {
        flex-direction: row;
    }

    .benefits-section .col {
        flex-basis: 33%;
    }

    /* about us */
    .about-us-section .row {
        flex-direction: row;
    }

    .about-us-section .col-1-3 {
        flex-basis: calc(100% / 4);
    }

    .app-section .img-card {
        justify-content: left;
    }

    .app-section .img-phone {
        width: 50%;

    }
}

/* desktop */

@media screen and (min-width: 920px) {
    .container {
        min-width: 920px;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .list {
        display: block;
    }

    .strategic-section .row {
        flex-direction: row;
    }

    .container-small {
        width: 800px;
        margin: 0 auto;
    }

    .container-xs {
        width: 770px;
        margin: 0 auto;
    }

    .container-xxs {
        width: 750px;
        margin: 0 auto;
    }

    .container-m {
        width: 850px;
        margin: 0 auto;
    }

    .benefits-section .col {
        flex-basis: 30%;
    }

    .about-us-section .col-2-3 {
        flex-basis: 55%;
    }

    .about-us-section .col-1-3 {
        flex-basis: 35%;
    }

    .col-phone {
        flex-direction: row;
    }

    .app-section .img-phone {
        width: 100%;

    }



}