* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utils */
:root {
    --primary-color: #0084FD;
    --primary-color-light: #B5DDFF;
    --secondary-color: #9792E3;
    --dark-color: #333333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.container {
    min-width: 100%;
    width: 80%;
    margin: 0 auto;
}

.container-md {
    padding-left: 30px;
    padding-right: 30px;
}

.container-footer {
    max-width: 360px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.app-section h2 {
    color: var(--primary-color);
    display: inline-block;
}

.bg-white {
    background-color: white;
}

.btn {
    padding: .5rem 2.3rem;
    border-radius: 40px;
    display: inline-block;
}

.btn-blue {
    background-color: var(--primary-color);
}

.btn-purple {
    background-color: var(--secondary-color);
}

.btn-white {
    background-color: white;
}

.btn-large {
    padding: 1rem 5rem;
}

.circle-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.txt-white {
    color: white;
}

.txt-purple {
    color: var(--secondary-color);
}

.txt-yellow {
    color: gold;
}

.txt-center {
    text-align: center;
}

.txt-black {
    color: black;
}

.paddingtb20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.rem2-3 {
    font-size: 2.3rem;
}

.rem4 {
    font-size: 4rem;
}

.block {
    display: block;
}

.txt-left {
    text-align: left;
}

header li {
    line-height: 30px;
}

.rem-1-8 {
    font-size: 1.8rem;
}

/* header */
header {
    background-color: var(--primary-color);
}

.nav-bar {
    justify-content: space-between;
    padding: 1rem 1.8rem;
    align-items: center;
    position: relative;

}

.fa-bars {
    color: white;
    font-size: 1.8rem;
}

.menu {
    position: absolute;
    right: 3%;
}

a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

li {
    list-style: none;
    padding: 0 .8rem;
}

.list {
    display: none;
}

.btn-nav {
    vertical-align: middle;
    line-height: 9px;
    padding: .8rem 1rem;
}

/* bonus */
.hamburger-menu {
    position: absolute;
    top: 70px;
    left: 0%;
    min-width: 100%;

    display: none;
}

.menu:focus+.hamburger-menu {
    display: block;
}

.hamburger-menu li {
    text-align: center;
}

.relative {
    position: relative;

}

.ham {
    background-color: #0084FD;
    width: 100%;
    justify-content: space-around;
}

/* main-sections */


section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    min-height: 500px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2rem;
}

.row-no-wrap {
    flex-wrap: nowrap;
}

.img-card {
    justify-content: center;
    align-items: flex-end;
}

.col {
    /* flex-grow: 1;
    flex-basis: 0; */
    border-radius: 20px;
    min-height: 300px;
    padding: 30px;

}

/* .col img {
    width: 50%;
} */

.app-section .img-phone {
    width: 100%;
    max-width: 350px;
}

.demo-title {
    padding: 10px 0px;
}



.demo-title p {
    margin-top: 10px;
    color: grey;
    text-align: left;
    margin-bottom: 50px;
}

.app-section a {
    text-align: left;
}

.fa-apple {
    margin-right: 5px;
}


.col-blue {
    background-color: var(--primary-color-light);
}

.col-white {
    background-color: white;
}

.col-purple {
    background-color: var(--secondary-color);
}


.col-1-3 {
    flex-basis: calc(100% / 3);
}

.col-2-3 {
    flex-basis: calc((100% / 3) * 2);
}

.col-1-3 {
    flex-basis: 50%;
    padding: 1rem;
}

.margintb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paddingtb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-phone {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
}

.app-section .fa-solid {
    font-size: 7rem;
    color: var(--primary-color);
    display: block;
    text-align: center;
}

.app-section h2,
p {
    display: block;
    text-align: center;
}

.demo-title h2 {
    text-align: left;
}


/* strategic-section */

.strategic-section {
    background-color: var(--secondary-color);
}

/* testimonial-section */
.testimonial-section h2 {
    color: var(--secondary-color);
}

.test-txt {
    padding: 20px;
}

.circles-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(img/testimonial1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1/1;

}

.fa-quote-right,
.fa-quote-left {
    font-size: 2rem;
}

.testimonial-col p {
    font-size: 1.5rem;

}



.circles-photo-2 {
    background-image: url(img/testimonial2.jpg);
}

.circles-photo-3 {
    background-image: url(img/testimonial3.jpg);
}

.circles-photo-about-us {
    background-image: url(img/about.jpg);
}

.circles {
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.circles-img {
    width: 100%;
    object-fit: contain;
}

.testimonial-card {
    flex-direction: column;
}

/* benefits-section */
.benefits-section {
    background-color: var(--secondary-color);
}

.square {
    max-width: 345px;
    max-height: 368px;
}

/* about us */
.about-txt {
    width: 100%;
}

.about-txt p {
    font-size: 1.5rem;
}


.circles-photo-about-us i {
    font-size: 60px;
    margin-left: 100px;
}

/* footer */
.copy {
    font-size: 0.8rem;
}

.footer-info {
    background-color: var(--dark-color);
    min-height: 200px;
}

.strategic-image {
    width: 100%;
}

.circle {
    justify-content: center;
}

.btn-footer {
    display: flex;
    justify-content: center;
}

/* tablet */



@media screen and (min-width:768px) {
    .container {
        min-width: 100%;
        width: 80%;
    }

    .app-section .row {
        flex-direction: row;
        flex-wrap: wrap;

    }

    /* .col {
        flex-basis: 0;
        flex-grow: 1;
    } */

    .app-section .col-2-3 {
        flex-basis: 64%;
    }

    .app-section .col-1-3 {
        flex-basis: 30%;
    }

    .strategic-section .img {
        max-width: 50%;

    }

    .strategic-col-tablet {
        max-width: 656px;
        margin: 0 auto;
    }

    .demo-title h2 {
        text-align: left;
    }



    /* testimonial */

    .circles {
        flex-direction: row;

    }

    .title-bottom h3 {
        margin-top: 20px;
        margin-right: 40%;
    }

    .testimonial-card {
        flex-direction: row;
    }

    .testimonial-card p {
        margin-left: 20px;
        text-align: left;
    }

    /* benefits */
    .benefits-section .row {
        justify-content: space-evenly;
    }



    /* benefits section */

    .benefits-section .row {
        flex-direction: row;
    }

    .benefits-section .col {
        flex-basis: 33%;
    }

    /* about us */
    .about-us-section .row {
        flex-direction: row;
    }

    .about-us-section .col-1-3 {
        flex-basis: calc(100% / 4);
    }

    .app-section .img-card {
        justify-content: left;
    }

    .app-section .img-phone {
        width: 50%;

    }
}

/* desktop */

@media screen and (min-width: 920px) {
    .container {
        min-width: 920px;
        width: 100%;
    }

    .menu {
        display: none;
    }

    .list {
        display: block;
    }

    .strategic-section .row {
        flex-direction: row;
    }

    .container-l {
        width: 900px;
        margin: 0 auto;
    }

    .container-small {
        width: 800px;
        margin: 0 auto;
    }

    .container-xs {
        width: 770px;
        margin: 0 auto;
    }

    .container-xxs {
        width: 750px;
        margin: 0 auto;
    }

    .container-m {
        width: 850px;
        margin: 0 auto;
    }

    .benefits-section .col {
        flex-basis: 30%;
    }

    .about-us-section .col-2-3 {
        flex-basis: 55%;
    }

    .about-us-section .col-1-3 {
        flex-basis: 35%;
    }

    .col-phone {
        flex-direction: row;
    }

    .app-section .img-phone {
        width: 100%;
        min-width: 208px;

    }

    .strategic-section .col {
        width: 40%;
    }

    .strategic-image-desktop {
        width: 64%;
        margin-left: 50px;
    }

    .strategic-col-desktop {
        height: 70%;
        margin-top: 80px;
    }

    .square {
        max-width: 345px;
        max-height: 340px;
    }
}